@import url("../main.scss");
@import "../default/variables.scss";

#section-qrCode{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

    .container-scanQrCode{
        width: 100%;
        height: 99vh;
        background-color: #fff;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: 1vh;
        padding: 5px;
        box-sizing: border-box;
        position: relative;

        .button-close-scan{
            width: 35px;
            height: 35px;
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: transparent;

            &::after{
                content: "";
                display: block;
                width: 25px;
                height: 4px;
                background-color: #1a1a1a;
                border-radius: 2px;

                position: absolute;
                top: 15px;
                left: 0px;
                right: 0px;
                margin: auto;

                transform: rotateZ(50deg);
            }

            &::before{
                content: "";
                display: block;
                width: 25px;
                height: 4px;
                background-color: #1a1a1a;
                border-radius: 2px;

                position: absolute;
                top: 15px;
                left: 0px;
                right: 0px;
                margin: auto;

                transform: rotateZ(-50deg);
            }
        }

        .container-content-scan{
            width: 100%;
            height: auto;
            margin-top: 80px;
     
            .scan-camera{
                width: clamp(280px, 80%, 450px);
                height: 300px;
                background-color: #d9d9d9;
                border-radius: 10px;
                margin: 20px auto 0px auto;
            }

            .division-ou{
                display: block;
                width: 100%;
                height: 18px;
                margin-top: 20px;
                position: relative;

                font-size: .8em;
                color: #8F8F8F;
                font-family: 'Inter-Medium';
                text-transform: uppercase;
                text-align: center;

                &::after{
                    content: '';
                    width: 46%;
                    height: 1px;
                    background-color: #8F8F8F;
                
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    margin: auto;
                }
            
                &::before{
                    content: '';
                    width: 46%;
                    height: 1px;
                    background-color: #8F8F8F;
                
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    margin: auto;
                }  
            }

            .content-input-code{
                width: 100%;
                height: auto;
                margin-top: 15px;
                
                .button-send-code{
                    display: block;
                    width: clamp(210px, 50%, 290px);
                    height: 35px;
                    background-color: #3A5B74;
                    border-radius: 20px;
                    font-size: .8em;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: 'Inter-Medium';
    
                    margin: 20px auto 0px auto;
                    cursor: pointer;
                }
            }

        }
    }


}

#main-myAccount{
    width: 100vw;
    overflow-x: hidden;
    height: auto;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;

   .container-informationUser{
        width: 100%;
        height: auto;
        margin: 0px auto 0px auto;

        .content-inputs{
            width: 100%;
            height: auto;
            margin: 40px 0px 0px 0px;
            @include propsFlex(column, nowrap, center, flex-start);
            gap: 15px;
        }
   }

    .section-container{
        width: 100%;
        height: auto;
        margin: 15px auto 0px auto;
    }

    .button-action{
        display: block;
        width: 100%;
        height: 40px;
        background-color: #1a1a1a;
        border-radius: 3px;
        font-size: .85em;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Inter-Regular';
        margin: 15px 0px 0px 0px;
    }
    .style-button-artigle{
        background-color: #3BA829;
    }
    .style-button-ecommerce{
        background-color: #4A29A8;
    }
    .style-button-qrcode{
        background-color: #A88429;
    }

    .button-disconnect{
        display: block;
        width: clamp(150px, 100%, 100px);
        height: 40px;
        background-color: #AD3131;
        border-radius: 3px;
        font-size: .85em;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Inter-Regular';
        margin: 25px 0px 0px 0px;
    }

}


.style-ScanOpen{
    transition: .5s ease-in;
    animation: .9s ScanOpen ease-in;
}

.style-ScanClose{
    transition: .5s ease-out;
    animation: .9s ScanClose ease-out;
}


@keyframes ScanOpen {
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes ScanClose {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(1000px);
    }
}