@mixin propsFlex( $direction, $wrap, $align, $content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $content;
}

@mixin Grid($gridColumns, $gridRows, $gridTemplateArea){
    display: grid;
    grid-template-rows: $gridRows;
    grid-template-columns:$gridColumns;
    grid-template-areas: $gridTemplateArea;
}


$backgroundHeader: #06070B;
$colorMenu: #fff;