@import url("../../style/main.scss");
@import "../../style/default/variables.scss";

.section-bar-progress{
    width: 100%;
    height: 40px;
    background-color: #766FDA;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    position: fixed;
    bottom: 0px;
    left: 0px;
}

.bar-progress{
    width: 100%;
    height: 30px;
    background-color: #35316B;
}